HEADLESS=true
PORT=8080
NODE_ENV=development
REDIS_URL=redis://localhost:6379
CHROME_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome

# Notification Settings
ENABLE_LINE_NOTIFY=false
ENABLE_SLACK_NOTIFY=true

# LINE Configuration
LINE_CHANNEL_ACCESS_TOKEN=
LINE_USER_ID=

# Slack Configuration
MY_SLACK_WEBHOOK_URL=
